<header  role="banner" style="z-index:5000;" >
        <button type="button" style="z-index:5000;"  class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu">
            <li><a class="drawer-brand" href="/app/emprestimo/view"><center><img src="../../img/logo.png" height="64"  /></center></a></li>
            <li > <a class="drawer-menu-item" href="/app/livro/view" style="margin-left:2px;"> Livros</a></li>
            <li ><a class="drawer-menu-item" href="/app/cliente/view" style="margin-left:2px;">Cliente</a></li>
            <li > <a class="drawer-menu-item" href="/app/usuario/view" style="margin-left:2px;">Usuários</a></li>
            <li ><a class="drawer-menu-item" href="/app/emprestimo/view" style="margin-left:2px;">Emprestimo</a></li>
        
          </ul>

 
              
                  
                      

                          <div class="dropdown">
                            <li class="list-group-item"  id="dropdownMenuButton5" >
                            <a href="/Sair" style="color:black;">  Sair</a>
                            </li>
                            
                          </div>

                          
                            
                          


        </nav>
      </header>