<header  role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu">
            <li><a class="drawer-brand" href="/home"><center><img src="../img/logo.png" height="64"  /></center></a></li>
          
          </ul>

          <div class="dropdown">
              <li class=" dropdown-toggle list-group-item"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Livro
              </li>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/app/livro/livroCad">Cadastrar</a>
                <a class="dropdown-item" href="/app/livro/livroCad">Consultar</a>
                
              </div>
            </div>

            


              <div class="dropdown">
                    <li class=" dropdown-toggle list-group-item"  id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cliente
                    </li>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <a class="dropdown-item" href="#">Cadastrar</a>
                      <a class="dropdown-item" href="#">Consultar</a>
                      
                    </div>
                  </div>
                  <div class="dropdown">
                        <li class=" dropdown-toggle list-group-item"  id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Emprestimo
                        </li>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                          <a class="dropdown-item" href="#">Cadastrar</a>
                          <a class="dropdown-item" href="#">Consultar</a>
                         
                       </div>
                      </div>
                      <div class="dropdown">
                            <li class=" dropdown-toggle list-group-item"  id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sistema
                            </li>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                              <a class="dropdown-item" href="#">Cadastrar usuários</a>
                              <a class="dropdown-item" href="#">Consultar usuários</a>
                              <a class="dropdown-item" href="#">Documentação</a>

                              <a class="dropdown-item" href="#">Sobre</a>
                             
                           </div>
                          </div>

                          <div class="dropdown">
                            <li class="list-group-item"  id="dropdownMenuButton5" >
                            <a href="/Sair">  Sair</a>
                            </li>
                            
                          </div>

                          
                            
                          


        </nav>
      </header>